/* Main styling */
main {
  min-height: calc(100vh - 308px);
  padding-left: 71px;
  margin-top: 102px;
}
nav div {
  margin-left: 55px;
}
@media (max-width: 991.98px) {
  main {
    padding-left: 46px;
  }
  nav div {
    margin-left: 30px;
  }
}
@media (max-width: 991.98px) {
  main {
    padding: 0 20px;
  }
  nav div {
    margin-left: 4px;
  }
}
.bg-light {
  background-color: #ECECEC !important;
}
.btn-primary {
  background-color: #0D599B;
  border-color: #0D599B;
}
.no-padding {
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
p {
  font-family: sans-serif;
  color: #707070;
  font-size: 14px;
  line-height: 16px;
}
.navtext {
  font-size: 19px;
  margin-bottom: 0;
}
.navbar-brand h3{
  font-size: 40px;
  color: black;
  margin-bottom: 2px;
}

p.options {
  color: black;
  @media (max-width: 391px) {
    width: 100%;
    i {
      padding-left: 0 !important;
    }
  }
}
p.options i {
  font-size: 22px;
}

.non-fullscreen {
  background-position: center;
  background-size: contain;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Footer */
footer {
  margin-top: 50px;
  padding: 20px 75px;
  background-color: #000000;
  div {
    margin-right: 50px;
    @media (max-width: 991.98px) {
      margin-top: 25px;
    }
    img {
      width: 300px;
    }
    p {
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}

/* Home styling */
section.home {
  margin: 40px 0;
  height: 175px;
  display: flex;
  flex-direction: row;

  .demoPicture {
    margin-right: 25px;
    height: 175px;
    width: 275px ;
    min-width: 275px;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 6px;
  }

  img {
    float: left;
    height: 150px;
    border-radius: 8px;
  }

  .demoInfo {
    position: relative;
  }

  h5 {
    font-size: 30px;
    font-weight: bold;
    
    span {
      font-size: 30px;
      font-weight: 100;
    }
  }
}
@media (max-width: 991.98px) {
  section.home {
    height: auto;
    a.demolink {
      width: 100%;
      .demoPicture {
        height: 250px;
        flex: 0 0 100% !important;
        width: 100%;
        max-width: 550px !important;
      }
    }
    .demoInfo {
      flex: 0 0 100% !important;
      max-width: 550px !important;
      margin-top: 20px;
      height: 180px;
    }   
  }
}
@media (max-width: 600px) {
  .demoPicture {
    height: 175px !important;
  }
  .demoInfo {
    height: 235px !important;
  }
}

/* Links */
.links {
  max-width: 942px;
  margin-left: -15px !important;
  @media (max-width: 576px) {
    margin: 0;
  }
}

section.demoLink {
  margin-top: 50px;
  min-width: 225px;
  .linkPicture {
    position: relative;
    height: 140px;
    width: 225px !important;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 5px;
    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

/* Main view demo */
.p-m {
  margin-left: -15px !important;
  margin-bottom: 20px !important;
  @media (max-width: 576px) {
    margin: 0 0 20px 0 !important;
  }
}

#canvas {
  @media (max-width: 991.98px) {
    width: 100%;
    height: 550px;
  }
  @media (max-width: 768px) {
    height: 400px;
  }
  @media (max-width: 480px) {
    height: 300px;
  }
}

/* Drag and drop */
main.dragdrop {
  #mycanvas {
    @media (max-width: 991.98px) {
      width: 100%;
      height: 550px;
    }
    @media (max-width: 768px) {
      height: 400px;
    }
    @media (max-width: 480px) {
      height: 300px;
    }
  }
  .dragdropimages {
    width: 100px;
    margin: 0 0 0 20px;
    flex-wrap: wrap;
    @media (max-width: 1199px) {
      margin: 20px 0 0 0;
      width: auto;
      display: flex;
      p {
        margin: 0 20px 0 0;
      }
    }
    p {
      font-size: 12px;
      margin-bottom: 20px;
      i {
        font-size: 20px;
      }
    }
  }
  img {
  width: 100px;
  height: 100px;
  }
}

/* Logo */
.demoLogo {
  img {
    cursor: pointer;
  }
  #product2 {
    width: 500px;
  }
}

/* Scene2scene */
main.scene2scene {
  .full {
    min-height: 0 !important;
    height: 100% !important;
  }
}
.nav-trans {
   filter: alpha(opacity=80);
   opacity: 0.8;
}
.rightdiv {
   background-color:lightsteelblue;
   border:1px gray;
   width:320px;
   position:absolute;
   right: 18px;
   top:100px;
   margin:2px;
}

/* Multiple scenes */
#scenes {
  canvas {
    margin-right: 10px;
  }
}

/* Demo text */
.demoText {
  .row {
    .form-group {
      margin-right: 15px;
      input, select {
        max-width: 250px;
      }
    }
  }
}

/* Demo video */
.demoVideo {
  video {
    width: 100%;
    max-width: 640px;
    display: block;
    margin-bottom: 16px;
  }
  
  canvas {
    width: 100%;
    max-width: 853px;
  }
}

/* fullscreen demo */
main.fullscreen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.full {
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}